{% extends 'task/base.html' %}

{% block title %} Update {% endblock title %}

{% block content %}

<h2>Update {{item}}</h2>
<br>
<div class="container" class = 'my-2 '>

    <form action="" method="post" class="">
        {% csrf_token %}
        <h2> Task Name {{form.name}}</h2><br>
        <h2>Task Done {{form.complete}}</h2><br>
        <h2>{{form.created}}</h2><br>
        <br>

        <a href="{% url 'home' %}" class="btn btn-primary my-2">Home</a>
        <input type="submit" value="update" class="btn btn-primary">
    </form>
</div>

{% endblock content %}